include part-header.pug
	.section.width-max-readable.m-auto.api-connection-container
		h1 Enter your API URL and Key
		input.input.block.w-100.p-1.m-b-1(id='gyl-api-url' name='gyl-api-url' type='text' placeholder='API URL e.g. https://example.com/gyl/')
		input.input.block.w-100.p-1(id='gyl-api-key' name='gyl-api-key' type='password' placeholder='API Key')
		button#sign-in-button.button.large.main.block.m-t-1 Save API Connection
	.section.width-max-readable.m-auto.admin-menu(style='display:none')
		h1 Open admin screen:
		ul.menu.list.no-style.vertical.large.font-size-1p25.bordered
			li
				a(href=`${baseUrl}/broadcast/index.html`) 📮 Send broadcast
					small.m-l-0p5.text-color-default Send broadcasts to your subscribers or a segement of them.
			li
				a(href=`${baseUrl}/emails/index.html`) 💌 Emails
					small.m-l-0p5.text-color-default Build emails that can be used in autoresponders and broadcasts.
			li
				a(href=`${baseUrl}/autoresponders/index.html`) 🤖 Autoresponders
					small.m-l-0p5.text-color-default Construct flows of emails to send to your emails based on special rules.
			li
				a(href=`${baseUrl}/lists/index.html`) 🧮 Lists
					small.m-l-0p5.text-color-default See an overview of your mailing lists and create new ones.
			li
				a(href=`${baseUrl}/analytics/index.html`) 📊 Analytics
					small.m-l-0p5.text-color-default See analytics for your emails.
			li
				a(href=`${baseUrl}/tools/index.html`) 🔨 Tools
					small.m-l-0p5.text-color-default Miscellaneous Grow Your List management tools; for example, to view items in the queue.
include part-footer.pug