include ../part-header.pug
	.section.width-max-readable.m-auto
		h1 🔨 Tools
		p.
			Here is a collection of miscellaneous tools to help administer the
			mailing list.
		.tool-container
			.tool-header
				h2 Add Subscriber
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					Add a subscriber
				div
					label(for='new-subscriber-email')
						strong Subscriber Email
				div
					input.input.block.new-subscriber-email.m-b-0p5.w-100(
						type='email'
						name='new-subscriber-email'
						placeholder='test@example.com'
					)
				div
					label(for='new-subscriber-tags')
						strong Subscriber Tags
				div
					input.input.block.new-subscriber-tags.m-b-0p5.w-100(
						type='text'
						name='new-subscriber-tags'
						placeholder='test@example.com'
					)
				div
					label(for='new-subscriber-properties')
						strong Subscriber Properties
				div
					textarea.input.block.new-subscriber-properties.m-b-0p5.w-100(
						name='new-subscriber-properties'
						placeholder='propertyName1: propertyValue1\npropertyName2: propertyValue2'
					)
				div
					button.button.main.new-subscriber-button Add Subscriber
				#new-subscriber-status-container
		hr
		.tool-container
			.tool-header
				h2 View Subscriber
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					View all subscriber info.
				div
					label(for='subscriber-info-email')
						strong Subscriber Email
				div
					input.input.block.subscriber-info-email.m-b-0p5.w-100(
						type='text'
						name='subscriber-info-email'
						placeholder='test@example.com'
						data-linked-button-selector='.get-subscriber-info-button'
					)
					button.button.main.get-subscriber-info-button Get Subscriber
					#subscriber-error-container
				.subscriber-info-container.m-b-1
		hr
		.tool-container
			.tool-header
				h2 View Subscriber Queue Items
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					See the items that a subscriber has in the queue. This includes items that
					are scheduled for the future as well as the queue history of items that
					have already been processed.
				div
					label(for='subscriber-email')
						strong Subscriber Email
				div
					input.input.block.subscriber-email.m-b-0p5.w-100(
						type='text'
						name='subscriber-email'
						placeholder='test@example.com'
						data-linked-button-selector='.get-subscriber-queue-items-button'
					)
					button.button.main.get-subscriber-queue-items-button Get Subscriber Queue Items
				div.subscriber-queue-items-container.m-b-1
		hr
		.tool-container
			.tool-header
				h2 Import list from CSV
				button.button.minor.m-1-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					Paste a CSV in below and click import to import a list.
				p: strong Please note:
				ul.lh-1p5
					li If the subscriber (identified by their email address) already exists in the database, they will skipped.
					li If the subscriber appears multiple times in the import data, only the first one instance will be used.
					li <b>For a much faster import</b>, the above checks can be disabled using the 'Skip duplicate check' checkbox below. <strong>Please ensure there are no duplicates</strong> when doing this; otherwise duplicated subscribers will receive emails multiple times.
					li To include tags for subscribers, include a list of tags separated by commas in a field escaped by quotation marks; e.g.: "email@example.com","tags,tagb"
					li <b>Subscribers must have at least one list tag to be able to send to them</b>. This basically means one tag starting with <q>list-</q>. To automatically add subscribers to lists, include the respective list tag or tags in the tags column; e.g.: "list-main,list-subgroup". Then, ensure you have a list with a list id that is the same as the tag in your <a href="/lists/index.html">lists</a>.
				p
					label
						input#import-skip-duplicate-check(type="checkbox")
						span Skip duplicate check
				div.m-b-1
					textarea#import-data.input.w-100(
						style='min-height:50vh'
						placeholder="email,firstName,tags\n\"test@example.com\",\"Robin\",\"tag-a,tab-b\""
					).
						email,firstName,tags

				.m-b-2
					#import-status-container.m-b-1
					div
						button.button.main#import-button Import
		hr
		.tool-container
			.tool-header
				h2 Ping API
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					Send a simple get request to the API to check connectivity.
				button.button.main.ping-button Ping
				br
				.ping-result-container.m-b-2
		hr
		.tool-container
			.tool-header
				h2 Auth Ping API
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					Send a get request using the api key to the API to check connectivity.
				button.button.main.auth-ping-button Ping
				br
				.auth-ping-result-container.m-b-2
include ../part-footer.pug