include ../part-header.pug
	.section.width-max-readable.m-auto
		h1 🔨 Tools
		p.
			Here is a collection of miscellaneous tools to help administer the
			mailing list.
		.tool-container
			.tool-header
				h2 View Subscriber
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					View all subscriber info.
				div
					label(for='subscriber-info-email')
						strong Subscriber Email
				div
					input.input.block.subscriber-info-email.m-b-0p5.w-100(
						type='text'
						name='subscriber-info-email'
						placeholder='test@example.com'
						data-linked-button-selector='.get-subscriber-info-button'
					)
					button.button.main.get-subscriber-info-button Get Subscriber
				.subscriber-info-container.m-b-1
		hr
		.tool-container
			.tool-header
				h2 View Subscriber Queue Items
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					See the items that a subscriber has in the queue. This includes items that
					are scheduled for the future as well as the queue history of items that
					have already been processed.
				div
					label(for='subscriber-email')
						strong Subscriber Email
				div
					input.input.block.subscriber-email.m-b-0p5.w-100(
						type='text'
						name='subscriber-email'
						placeholder='test@example.com'
						data-linked-button-selector='.get-subscriber-queue-items-button'
					)
					button.button.main.get-subscriber-queue-items-button Get Subscriber Queue Items
				div.subscriber-queue-items-container.m-b-1
		hr
		.tool-container
			.tool-header
				h2 Ping API
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					Send a simple get request to the API to check connectivity.
				button.button.main.ping-button Ping
				br
				.ping-result-container.m-b-2
		hr
		.tool-container
			.tool-header
				h2 Auth Ping API
				button.button.minor.m-l-1.toggle-collapse ➕ Expand
			.tool.collapsed
				p.lh-1p5.
					Send a get request using the api key to the API to check connectivity.
				button.button.main.auth-ping-button Ping
				br
				.auth-ping-result-container.m-b-2
include ../part-footer.pug